@model TaskBoardAuth.Core.Models.LoginModel

@{
    ViewBag.Title = "Task Manger";
}

<div style="background-color: gainsboro; height: 340px; width: 100%;">
    <div style="margin-left: auto; margin-right: auto; width: 780px;">
        <div style="background-image: url('/Images/PostItNote.png'); float: left; height: 310px; width: 330px; margin-right: 30px; margin-bottom: 30px;"></div>
        <div style="float: left; height: 330px; width: 420px;">
            @using (Html.BeginForm("Login", "Account"))
            {
                @Html.ValidationSummary(true, "Log in was unsuccessful. Please correct the errors and try again.")
                @Html.Hidden("returnUrl", Url.Action("Index", "TaskBoard"))

                <fieldset>
                    <legend>Log in Form</legend>
                    <ol>
                        <li>
                            @Html.LabelFor(m => m.UserName)
                            @Html.TextBoxFor(m => m.UserName)
                        </li>
                        <li>
                            @Html.LabelFor(m => m.Password)
                            @Html.PasswordFor(m => m.Password)
                        </li>
                        <li>
                            @Html.CheckBoxFor(m => m.RememberMe)
                            @Html.LabelFor(m => m.RememberMe, new { @class = "checkbox" })
                        </li>
                    </ol>
                    <input type="submit" value="Log in" />
                </fieldset>
                <p>
                    @Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })
                </p>
            }

        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}