<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - Task Manger</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/themes/base/css", "~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <div class="topHeader">
            <div class="topLogo">
                <h3>Task Manager</h3>
            </div>
            <div class="topCenter">
                Jump to a project 
                <input type="text"/>
            </div>
            <div class="float-right">
                <img alt="user icon" src="/Images/userIcon25x25.jpg" class="float-left" 
                style="margin-top: 7px; margin-right: 5px;"/>
                <section id="login" class="float-left">
                    @Html.Partial("_LoginPartial")
                </section>
            </div>
        </div>
        <div id="body">
                @RenderBody()
        </div>
        
        <div style="height: 22px; width: 100%; background-color: #c2c2c2; clear: both; margin: 0px; padding: 0px;">
            Hi there.
        </div>
        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
    </body>
</html>
